{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <section class="About">
        <h2 tabindex="0">Qui sommes-nous</h2>
        <p tabindex="0">
            Bienvenue sur notre site de vente de consoles de jeux vidéo rétro ! Nous sommes une équipe passionnée par les jeux vidéo classiques et déterminée à offrir à nos clients la meilleure expérience de jeu possible. Nous croyons que les jeux vidéo rétro sont plus qu'une simple forme de divertissement - ils sont une partie intégrante de l'histoire de l'industrie des jeux vidéo.
        </p>

        <h2>Notre Objectif</h2>
        <p>
            Notre objectif est de vous fournir un large choix de consoles rétro, ainsi que des jeux et des accessoires pour les accompagner. Nous sélectionnons soigneusement chaque produit que nous vendons pour garantir la qualité et la fonctionnalité parfaite. Nous sommes également toujours à la recherche de nouvelles façons de satisfaire nos clients, que ce soit en offrant des options de livraison rapide, un processus de retour facile ou en étant toujours disponibles pour répondre à vos questions.
        </p>

        <h2>Rejoignez-nous</h2>
        <p>
            Rejoignez notre communauté de passionnés de jeux vidéo rétro et redécouvrez le plaisir de jouer à ces jeux classiques. Nous sommes impatients de faire partie de votre voyage de retour dans le temps avec les jeux vidéo rétro.
        </p>

        <h2>Nos Services</h2>
        <p tabindex="0">
            Nous proposons differents type de service tels que:
        </p>

        <ul>
            <li tabindex="0">La Livraison en 7 jours ouvrables</li>
            <li tabindex="0">Le retours gratuits sous 21 jours</li>
            <li tabindex="0">Des consoles certifiers en parfait états</li>
            <li tabindex="0">Ainsi qu'un service de contact ouvers 7j/7</li>
        </ul>

        <p tabindex="0" >
            Nous esperons que vous serez satisfait de nos consoles !
        </p>
    </section>
{% endblock %}
